* {
    box-sizing: border-box;
}
body {
    background-color:aquamarine;
    text-align: justify;
}
 .pagewrap {
    min-width: 1020px;
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, sans-serif;
    background-color: bisque;
    line-height: 1.5;
}

.header {
    background-color:rgb(63, 56, 56);
}

