* {
    box-sizing: border-box;
}
body {
    background-color:aquamarine;
    text-align: justify;
}
 .pagewrap {
    min-width: 1020px;
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, sans-serif;
    background-color: bisque;
    line-height: 1.5;
}

.header {
    background-color:rgb(63, 56, 56);
}

.hgroup {
    display: block;
    padding: 12px 20px;
    color: white;
}

.cat {
    position: relative;
    top: 52px;
    right: 45px;
    float: right;
    overflow: auto;
    border-radius: 57%;
    width: 350px;
    height: 251px;
}

a {
    color: black;
}
.name,
.contacts,
.education,
.summary,
.skill,
.english{
    padding:1.5em;
}
.name h1 {
    font-size:1.5em;
    color:white;
    background-color:black;  
}

.contacts h2,
.education h2,
.summary h2,
.skill h2,
.english h2 {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    background-color: black;
    color: white;
}

ul>li {
    margin-left: 20px;
    list-style-type: circle;
    padding: 10px;
}


 